@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');/*Media Query para Desktop*/

html{
  scroll-behavior: smooth;
}

body{
  background-color:#000000;
}

* {
  animation: opacity 1s;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.header_container {
  align-items: center;
  display: flex;
  padding: 0 25px 0;
  height: 80px;
  width: 100vw;
  background: #000000;
}

#name_joao {
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 25px;
  color: #FCFCFC;
}

#subtitle_joao {
  align-items: center;
  display: flex;
  font-weight: 300;
  font-size: 15px;
  color: #FCFCFC;
}

.nav_container {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #FCFCFC;
  width: 100vw;
  height: 40px;
}

.navbar_menu {
  font-size: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar_menu li {
  list-style-type: none;
  padding: 0 8px 0;
}

.navbar_menu a {
  color: #000000;
  text-decoration: none;
}

.navbar_menu a:hover {
  color: #6700f7;
  transition: 0.3s ease;
}

.navbar_menu a:not(:hover) {
  color: #000000;
  transition: 0.3s ease-out;
}
.presentation_container {
  align-items: center;
  justify-content: center;
  display: flex;
  color: #FCFCFC;
  height: 500px;
  width: 100vw;
  background: linear-gradient(to left, #bc57ff, #6700f7, #3d0094);
  background-size: 500% 100%;
  animation: animated-gradient 5s infinite alternate;
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animated-gradient {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.presentation_text {
  padding: 0 30px 0;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  display: flex;
  font-size: 20px;
}

#hello_world {
  margin-left: -5px;
  font-size: 70px;
  margin-bottom: 5px;
}

#p_text1 {
  font-size: 16px;
  max-width: 570px;
  margin-bottom: 10px;
}

#btn {
  margin-top: 20px;
  cursor: pointer;
  border: transparent;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  font-size: 25px;
  height: 50px;
  width: 170px;
}

#btn:hover {
  transition: all 0.3s ease;
  color: #121212;
  background-color: #d4d4d4;
}

#btn:not(:hover) {
  transition: all 0.3s ease-out;
}

.photo {
  border-radius: 1000px;
  height: 340px;
}

.aboutme_container {
  background-color: #FCFCFC;
  padding: 0 100px 0;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: 600px;
}

#aboutme_text {
  margin-bottom: 20px;
  color: #6700f7;
  font-size: 70px;
  text-align: left;
}

#aboutme_p {
  text-align: center;
  max-width: 900px;
  font-size: 20px;
}

.icon_ul {
  margin-left: -25px;
  margin-top: 40px;
  flex-direction: row;
  display: flex;
}

.icons {
  width: 100px;
  padding: 0 20px 0;
}

.icons:hover {
  transition: 0.3s ease;
  transform: scale(1.1);
}

.icons:not(:hover) {
  transition: 0.3s ease-out;
}

.languages_container {

  align-items: center;
  flex-direction: column;
  display: flex;
  color: #FCFCFC;
  height: 650px;
  width: 100vw;
  background-color: #000000;
}

#langsoft_text {
  padding: 60px 0;
  text-align: center;
  font-size: 60px;
}

.soft_ul {
  overflow: hidden;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.soft_icons {
  filter: saturate(0);
  font-weight: 600;
  font-size: 15px;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.soft_img {
  width: 90px;
}

.lang_ul {
  overflow: hidden;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.lang_icons {
  filter: saturate(0);
  font-weight: 600;
  font-size: 15px;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.lang_img {
  width: 90px;
}

.lang_icons:hover {
  transform: scale(1.25);
  cursor: pointer;
  transition: 0.3s ease;
  filter: none;
}

.soft_icons:hover {
  transform: scale(1.25);
  cursor: pointer;
  transition: 0.3s ease;
  filter: none;
}

.soft_icons:not(:hover) {
  transition: 0.3s ease-out;
}

.lang_icons:not(:hover) {
  transition: 0.3s ease-out;
}

.footer_container {
  padding-left: 20px;
  align-items: center;
  display: flex;
  color: #FCFCFC;
  background: #000000;
  width: 100vw;
  height: 100px;
}

.adress a {
  color: #FCFCFC;
  text-decoration: none;
}

.adress a:hover {
  text-decoration: underline;
}

.footer_add {
  align-items: center;
  flex-direction: row;
  display: flex;
}

.email_img {
  margin-right: 10px;
  width: 25px;
}

.a_name {
  color: #FCFCFC;
}

.projects{
  justify-content: center;
  display: flex;
  background-color: #FCFCFC;
  width: 100vw;
}

.projects-ul a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-ul li{
  padding: 50px 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-projects{
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  height: 70px;
  width: 250px;
  color: #FCFCFC;
  background-color: #6700f7;
}

.btn-projects:hover{
  cursor: pointer;
  background-color: #5900d4;
}

.thumbnail{
  border-radius: 20px;
  border: 1px solid #3d0094;
  width: 650px;
}

.my-projects{
  padding: 50px 0;
  text-align: center;
  font-size: 60px;
}

.subscribe-text{
  font-weight: 400;
  padding: 40px;
  font-size: 17px;
  text-align: center;
  max-width: 1000px;
}

/*Media Query Celular*/

@media (max-width: 1100px){
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html{
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body{
  background-color:#000000;
}

* {
  animation: opacidade 1s;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.header_container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 25px 0;
  height: 80px;
  width: 100vw;
  background: #000000;
}

#name_joao {
  margin-bottom: 8px;
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  color: #FCFCFC;
}

#subtitle_joao {
  align-items: center;
  display: flex;
  margin-top: -5px;
  font-weight: 300;
  font-size: 12px;
  color: #FCFCFC;
}

.nav_container {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #FCFCFC;
  width: 100vw;
  height: 30px;
}

.navbar_menu {
  font-size: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar_menu li {
  list-style-type: none;
  padding: 0 6px 0;
}

.navbar_menu a {
  color: #000000;
  text-decoration: none;
}

.navbar_menu a:hover {
  color: #6700f7;
  transition: 0.3s ease;
}

.navbar_menu a:not(:hover) {
  color: #000000;
  transition: 0.3s ease-out;
}
.presentation_container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #FCFCFC;
  height: 600px;
  width: 100vw;
  background: linear-gradient(to left, #bc57ff, #6700f7, #3d0094);
  background-size: 500% 100%;
  animation: animated-gradient 5s infinite alternate;
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes animated-gradient {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.presentation_text {
  padding: 0 30px 0;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}

#hello_world {
  margin-left: -5px;
  font-size: 35px;
  margin-bottom: 5px;
}

#p_text1 {
  max-width: 350px;
  font-size: 15px;
  margin: 10px 0;
}

#btn {
  margin-bottom: 35px;
  margin-top: 10px;
  cursor: pointer;
  border: transparent;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  font-size: 17px;
  height: 30px;
  width: 120px;
}

#btn:hover {
  transition: all 0.3s ease;
  color: #FCFCFC;
  background-color: #6700f7;
}

#btn:not(:hover) {
  transition: all 0.3s ease-out;
}

.photo {
  border-radius: 1000px;
  height: 220px;
}

.aboutme_container {
  padding: 0;
  align-items: center;
  background-color: #FCFCFC;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: 600px;
}

#aboutme_text {
  display: flex;
  margin-bottom: 20px;
  color: #6700f7;
  font-size: 35px;
  text-align: center;
}

#aboutme_p {
  max-width: 350px;
  text-align: center;
  font-size: 15px;
}

.icon_ul {
  justify-content: center;
  align-items: center;
  margin-left: 1px;
  margin-top: 40px;
  flex-direction: row;
  display: flex;
}

.icons {
  padding: 0 20px;
  width: 80px;
}

#Linguagens{
  align-items: center;
  justify-content: center;
  display: flex;
}

.languages_container {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #FCFCFC;
  height: 400px;
  width: 100vw;
  background-color: #000000;
}

#langsoft_text {
  margin-top: -50px;
  padding: 30px 0;
  text-align: center;
  font-size: 35px;
}

.soft_ul {
  display: flex;
  text-align: center;
}

.soft_icons {
  text-align: center;
  font-weight: 600;
  font-size: 6px;
  padding: 6px;
  filter: none;
}

.soft_img {
  width: 50px;
}

.lang_ul {
  justify-content: center;
  align-items: center;
  display: flex;
}

.lang_ul li{
  font-size: 10px;
}

.soft_ul li{
  font-size: 10px;
}

.lang_icons {
  filter: none;
  font-weight: 600;
  font-size: 6px;
  padding: 5px;
  display: flex;
}

.lang_img {
  width: 50px;
}

.projects-container{
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
.my-projects{
  padding: 0;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 35px;
}

.thumbnail{
  border-radius: 10px;
  width: 400px;
}

.projects-ul li{
  padding: 40px 0;
}

.subscribe-text{
  max-width: 550px;
  font-size: 15px;
}

.btn-projects{
  border-radius: 30px;
  font-size: 20px;
  height: 55px;
  width: 180px;
}

.footer_container {
  padding-left: 20px;
  align-items: center;
  display: flex;
  color: #FCFCFC;
  background: #000000;
  width: 100vw;
  height: 100px;
}

.footer_add {
  font-size: 10px;
  align-items: center;
  flex-direction: row;
  display: flex;
}

#Copyright{
  font-size: 10px;
}

.email_img {
  margin-right: 10px;
  width: 15px;
}

.a_name {
  color: #FCFCFC;
}
}
